// Base 
@use'./partials/base/reset';
@use'./partials/base/tipografia';
// components
@use'./partials/components/header';
@use'./partials/components/main';
@use'./partials/components/nav';
@use'./partials/components/img';
@use'./partials/components/footer'
