/* HEADER */
header{
   display: block;
      .wolf{
      width: 72px;
      height: 72px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 0 10px 1px #000;
         h1{
            font-size: 20px;
            margin-left: 8px;
            color: #000000;
}
}
}

/* Botón */
button:hover{
   background-image: linear-gradient(#c0e265,#89d957 );
   color: rgb(0, 0, 0);
   border: none;
   padding: 10px 16px;
   border-radius: 10px;
   font-weight: 700;
   cursor: pointer;
   box-shadow: 0 6px 18px rgba(255,77,79,0.18);
}
.ho-ver{
   background-image: linear-gradient(#89d957, #c0e265);
   color: rgb(0, 0, 0);
   border: none;
   padding: 10px 16px;
   border-radius: 10px;
   font-weight: 700;
   box-shadow: 0 6px 18px rgba(255,77,79,0.18);
}

/* FORM styling (contacto.html) */
form{
   display: grid;
   gap: 10px;
   max-width: 560px;
   margin-top: 12px;
   margin: 20px auto;
}

label{ 
   font-weight: 700; 
   font-size: 14px;
   color: #ffffff;
}
input[type="text"],
input[type="email"],
textarea{
   padding: 10px;
   border-radius: 8px;
   border: 1px solid rgba(0,0,0,0.12);
   font-size: 14px;
}

/* Titulos y párrafos */
h2, h3{
   margin: 20px auto;
   color: #2bd918;
}
p{ 
   color: #ffffff; 
}
.p-color{
   color: #000000;
}
ul{
   display: flex;
   gap: 14px;
   align-items: center;
   list-style: none;
}