/* IMÁGENES genericas */
img{
   max-width: 100%;
   height: auto;
   display: block;
   border-radius: 8px;
}

.img-inicio,
.img-nosotros,
.img-servi,
.wolf-contac,
.img-opin{
   width: 100%;
   max-width: 300px; 
   height: auto;
   display: block;
   margin: 20px auto;
}