/* NAV */
.navbar-brand{
   color: #000;
   margin: 16px 10px 16px 10px;
}

.nav-wolf .nav-link,
.nav-wolf{
   color: #000000 !important;
   font-weight: 700;
   border-radius: 8px;
}

.nav-wolf .nav-link:hover,
.nav-wolf {
   color: #ffffff !important;
   background-color: #000000;
   border-radius: 8px;
}
.nav-wolf {
   background-image: linear-gradient(#89d957, #c0e265);
   width: 100%;
   border-radius: 0 !important;
}