* { box-sizing: border-box; margin: 0; padding: 0; }
html,body { height: 100%; }

/* Responsive: pasar layout a 2 columnas en pantallas anchas */
@media (min-width: 860px){
   .main-grid{
      grid-template-columns: 1fr 420px;
      align-items: start;
   }
   header h1{ font-size: 22px; }
   .hero{ padding: 36px; border-radius: 14px; }
}

/* Muy grande */
@media (min-width:2000px){
   .main-grid{ 
      width: 1100px; 
      grid-template-columns: 1fr 1900px; }
   .img-opin{
      width: 420px;
      height: 540px;
   }
}
